@{
    ViewData["Title"] = "Create /Edit ";
}

@model SpendSmart.Models.Expense

<div class="text-center">
    <h1 class="display-4">Create or Edit Expense</h1>
</div>


<form>
    <label>Id</label>
    <input class="form-control mt-4" type="number" placeholder="0" />

    <label>Value  $</label>
    <input class="form-control mt-4" type="number" placeholder="0" />

    <label>Description  $</label>
    <input class="form-control mt-4" type="text" placeholder="Add a description" />

    <button class="btn btn-primary mt-4" type="submit">submit</button>


</form>